.footer {
  box-sizing: border-box;
  margin-top: auto;
  background-color: #3f2a9dff;
  color: white;
  position: relative;
  padding: 2em;
}


.phone {
  display: flex;
  gap: 2em;
}

.footer h3,
.footer p {
  margin: 0;
  padding: 0;
}

.footer > h3 {
  margin-bottom: 2em;
}

.content {
  display: flex;
  align-items: center;
  gap: 3em;
}

@media (max-width: 600px) {
  .phone {
    flex-direction: column;
    gap: 0.5em;
  }

  .footer > h3 {
    text-align: center;
  }

  .content {
    justify-content: space-between;
  }
}
